{% extends 'blog/base.html' %}

{% block title %} Comparte un post{% endblock title %} 

{% block content %}
    {% if sent %}
        <h1>E-mail enviado correctamente</h1>
        <p>
            '{{post.title}}' fue enviado a {{ form.cleaned_data.to}}.
        </p>
    {% else %}
        <h1>Comparte "{{post.title }}" por email</h1>
        <form method="post" novalidate>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Enviar email">
        </form>
    {% endif %}
{% endblock content %}
